.cabeçalho {background-color: brown; 
    color:#000000; 
    display: flex; 
    justify-content: center; }
    .imagem-logo{width: 20%;}
    .sobre-serie{
background-color: rgb(51, 14, 14);
color: white;
    }
